body{
	width:100%;
}


.dib{ display: inline-block; vertical-align: middle;}
.hide,.shide{ display:none; opacity: 0;}

.l{
	float: left;
}

.r{
	float: right;
}

.bgred{
	background: #e9573f;
}

.bgblue{
	background: #3bafda;
}

.main-wrap{

}

.main-wrap.center{

}

.main-wrap.center .member-top{
	position: relative;
	height: 190px;	
}

.main-wrap.center .member-top .mt-cover{
	position: absolute;
	width: 108px;
	height: 108px;
	border-radius: 50%;
	top: 42px;
	left: 34px;
}

.main-wrap.center .member-top .mt-title{
	position: absolute;
	font-size: 32px;
	color: #333;
	top: 56px;
	left: 168px;
}
.main-wrap.center .member-top .mt-msg{
	position: absolute;
	font-size: 24px;
	color: #999;
	top: 105px;
	left: 168px;
}

.member-main{
	position: relative;
}

.mm-line{
	position: relative;
	height: 95px;
	line-height: 95px;
	font-size: 24px;
	color: #333;
	border-bottom: 1px solid #e3e3e3;
	display: block;
}
.mm-line.bgred{
	color: #FFF;
}

.mm-line.bgblue{
	color: #FFF;
}

.mm-line .mml1{
	margin-left: 32px;
	margin-right: 22px;
}

.mm-line .mml2{

}

.more-icon:after, .more-icon:before {
    border: 12px solid transparent;
    border-left: 12px solid #130b07;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 5px;
    content: ' ';
}

.more-icon:before {
    border-left-color: #FFF;
    right: 4px;
}

.main-wrap.fanlist{

}

.main-wrap.fanlist .fan-ul{
	position: relative;
}

.main-wrap.fanlist .fan-ul li{
	position: relative;
	height: 160px;
	line-height: 160px;
}

.main-wrap.fanlist .list-cover{
   padding-left: 20px;
   padding-right: 20px;
   vertical-align: top;
}

.cover{
	width: 115px;
	height: 115px;
	border-radius: 50%;
}

.main-wrap.fanlist .list-nickname{
	width: 580px;
	height: 160px;
	line-height: 160px;
	border-bottom: 1px solid #e3e3e3;
	vertical-align: top;
	font-size: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.loader {
	position: fixed;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 80px;
    align-items: center;
    justify-content: center;
    left: 50%;
    bottom: 0px;
    margin-left: -30px;
}


@-webkit-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }

  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }

  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.ball-pulse-sync > div:nth-child(0) {
  -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0s infinite ease-in-out; }
.ball-pulse-sync > div:nth-child(1) {
  -webkit-animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out; }
.ball-pulse-sync > div:nth-child(2) {
  -webkit-animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out; }
.ball-pulse-sync > div:nth-child(3) {
  -webkit-animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out; }
.ball-pulse-sync > div {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; 
}

.game_wrap{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('../img/game_bg.jpg') no-repeat center bottom;
	background-size: 100% auto;
}

.game_wrap .tower{
	position: absolute;
	left: 40px;
	bottom: 850px;
}

.game_wrap .tree{
	position: absolute;
	right: 0px;
	bottom: 145px;
}

.game_wrap .ctrl-block{
	position: absolute;
	width: 100%;
	height: 150px;
	bottom: 0px;
	left: 0px;
}

.game_wrap .bt-wrap{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.game_wrap .bt-wrap .tbimg{
	position: absolute;
	width: 58px;
	left: 100px;
	bottom: 32px;
	transform:rotate(-4deg);
}

.game_wrap .bt-wrap .netimg{
	position: absolute;
	width: 150px;
	left: 20px;
	bottom: 32px;
	transform:rotate(45deg);
}

.game_wrap .bt-wrap .bottle-num{
	position: absolute;
	left: 148px;
	top: 10px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	background: #e65959;
	font-size: 20px;
	color: #fff;
	border:1px solid #000;
}

.game_wrap .bt-wrap .font{
	position: absolute;
	font-size: 36px;
	color: #000;
	left: 170px;
	bottom: 63px;
	width: 150px;
}

.game_wrap .bt-wrap  .rest-time{
	position: absolute;
	left: 170px;
	bottom: 108px;
	font-size: 24px;
	color: #ff3c3c;
}

.window_wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.window_wrap .window_mask{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.5);
}

.window_wrap.notbuy_window .window_main{
	position: absolute;
	top: 380px;
	left: 50%;
	background: url('../img/have_not_buy.png') no-repeat;
	background-size: 100% auto;
	width: 615px;
	height: 431px;
	margin-left: -308px;
}

.window_wrap.notbuy_window .window_main .buy_bt{
	position: absolute;
	width: 521px;
	top: 300px;
	left: 50%;
	margin-left: -260px;
}


.window_wrap.bottle_window .window_main{
	position: absolute;
	top: 380px;
	left: 50%;
	background: url('../img/get_bottle_bg.png') no-repeat;
	background-size: 100% auto;
	width: 615px;
	height: 658px;
	margin-left: -308px;
}

.window_wrap.bottle_window .window_main .bottle-title{
	position: absolute;
	font-size: 48px;
	color: #FFF;
	top: 140px;
	left: 0px;
	width: 100%;
	text-align: center;
}

.window_wrap.bottle_window .window_main .bottle-main{
	position: absolute;
	top: 220px;
	left: 50%;
	margin-left: -276px;
	padding: 25px;
	font-size: 30px;
	color: #2f2f2f;
	width: 502px;
	height: 230px;
	overflow: hidden;
}


.window_wrap.bottle_window .window_main .throw_bt{
	position: absolute;
	width: 521px;
	top: 528px;
	left: 50%;
	margin-left: -260px;
}

.window_wrap.write_block .window_main{
	position: absolute;
	top: 380px;
	left: 50%;
	background: url('../img/write_page.png') no-repeat;
	background-size: 100% auto;
	width: 615px;
	height: 658px;
	margin-left: -308px;
}

.window_wrap.write_block .window_main .throw_bt{
	position: absolute;
	width: 521px;
	top: 530px;
	left: 50%;
	margin-left: -260px;
}

.window_wrap.write_block .window_main .main_area{
	position: absolute;
	padding: 25px;
	width: 500px;
	height: 290px;
	left: 50%;
	top: 160px;
	margin-left: -276px;
	border:none;
	appearance:none;
	font-size: 30px;
	color: #333;
}

.window_wrap.go_away .window_main{
	position: absolute;
	width: 629px;
	left: 50%;
	margin-left: -315px;
	top: 430px;
}

.window_wrap.waitting .window_main{
	position: absolute;
	width: 631px;
	left: 50%;
	margin-left: -315px;
	top: 430px;
}

.water3.anstep1{
	position: absolute;
	left: -14px;
	bottom: 542px;
	width: 100%;
}

.bottle.anstep1{
	position: absolute;
	width: 70px;
}

.net.anstep1{
	position: absolute;
}

.css-an-net-s1{
	-webkit-animation: nets1 8s ease both;
	animation: nets1 8s ease both;
}

@-webkit-keyframes nets1 {}
@keyframes nets1 {
	0% {opacity: 0; bottom: 0px; right: 0px; -webkit-transform:rotate(0deg);}
	5% {opacity: 1; bottom: 300px; right: 0px; -webkit-transform:rotate(50deg);}
	15%{opacity: 1; bottom: 800px; right: 100px; -webkit-transform:rotate(30deg);}
	25%{opacity: 1; bottom: 800px; right: 100px; -webkit-transform:rotate(-50deg);}
	40%{opacity: 1; bottom: 630px; right: 100px; -webkit-transform:rotate(-50deg);}
	53%{opacity: 1; bottom: 630px; right: 200px; -webkit-transform:rotate(-40deg);}
	65%{opacity: 1; bottom: 630px; right: 100px; -webkit-transform:rotate(-50deg);}
	80%{opacity: 1; bottom: 630px; right: 150px; -webkit-transform:rotate(-40deg);}
	100%{opacity: 1; bottom: 750px; right: 180px; -webkit-transform:rotate(10deg);}
}

.css-an-water-s1{
	-webkit-animation: waters1 8s ease both;
	animation: waters1 8s ease both;
}


@-webkit-keyframes waters1 {}
@keyframes waters1 {
	0% {opacity: 0;}
	30%{opacity: 0;}
	35%{opacity: 1;}
	90%{opacity: 1;}
	100% {opacity: 0;}
}

.css-an-bottle-s1{
	-webkit-animation: bottles1 8s ease both;
	animation: bottles1 8s ease both;
}

@-webkit-keyframes bottles1 {}
@keyframes bottles1 {
	0% {opacity: 0;}
	79% {opacity: 0;}
	80%{opacity: 1; bottom: 600px; right: 360px; -webkit-transform:rotate(0deg);}
	100%{opacity: 1; bottom: 770px; right: 390px; -webkit-transform:rotate(-10deg);}
}




